body{
    text-align: left;
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    width: 70%;
    margin: 20px auto;
}

.post{
    border: steelblue 4px solid;
    border-radius: 10px;
    padding: 10px 50px;
}
header{
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    color: #FFF;
    background: indigo;
    margin: 0 0 20px;
    border-radius: 5px;
    padding: 50px;
    box-sizing: border-box;
}

header span{
    font-size: 16px;
    font-weight: initial;
}

footer{
    text-align: center;
    color: #FFF;
    background: rebeccapurple;
    font-size: 14px;
    padding: 10px 0;
}